# junk
.ipynb_checkpoints/

# initial data directory
original_data_files/

# venv 
venv/

# download files
helper_scirpts/

# remove data and results
data/
correlation_plots/
svd_plots/